body {
    font-family: "Cairo Play", sans-serif;
    background-color: #1d1f21;
    color: #c5c6c7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #66fcf1;
}

.container {
    background-color: #0b0c10;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.container button {
    background-color: #45a29e;
    color: #0b0c10;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #66fcf1;
}
